---


const labelClasses = "flex flex-col text-[16px]"
const inputClasses = "mt-2 p-3 border-1 border-charcoal rounded-[12px]"
const divClasses = "flex flex-col space-y-6 lg:space-y-0 lg:flex-row lg:space-x-6"
---

<form  class="flex flex-col space-y-6 w-full p-7 lg:p-10  border-[1px] lg:border-[3px] border-charcoal shadow-[2px_2px_#282b31] lg:shadow-[3px_3px_#282b31] rounded-[40px]">
      <!-- <div class={divClasses}>
        <label class={labelClasses} for="first_name">
        First Name
        <input class={inputClasses} type="text" id="first_name" name="first_name" required />
      </label>
      <label class={labelClasses} for="last_name">
        Last Name
        <input class={inputClasses} type="text" id="last_name" name="last_name"/>
      </label>
      </div> -->
      <label class={labelClasses} for="first_name">
        Full name
        <input class={inputClasses} type="text" id="name" name="name" required />
      </label>
      <div class={divClasses}>
        <label class={labelClasses} for="email">
        Email
        <input class={inputClasses} type="email" id="email" name="email" required />
      </label>
      <label class={labelClasses} for="phone_number">
        Phone number
        <input class={inputClasses} type="tel" id="phone_number" name="phone_number" required />
      </label>
      </div>
     

      <label class={labelClasses} for="applied_role">Tell us why you're here
        <select class={`${inputClasses} cursor-pointer`} name="applied_role" id="applied_role" required>
          <option value="" selected disabled>Select one...</option>
          <option value="volvo">I have a question</option>
          <option value="saab">I want to complain</option>
          <option value="opel">I have feedback</option>
          <option value="audi">Other</option>
        </select>
      </label>

      <label class={labelClasses} for="message">
        Message
        <textarea class={`${inputClasses} h-30`} id="message" name="message" required />
      </label>
      <button class="mt-1 px-6 lg:px-6 py-3 lg:py-3 bg-emerald hover:bg-charcoal text-rice text-[16px] lg:text-[20px] font-primary tracking-wide rounded-full transition delay-50 duration-300 ease-in-out cursor-pointer">Submit</button>

       
    </form>